.tcentro{
    text-align: center;
    display:grid;
    justify-content: center;
}
#contenedor {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0px auto;
    max-width:1500px;
}
img {
    max-width: 100%;
}
.button {
    background-color: $amarillo;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
    margin: 20px 0;
}
.separador {
    width: 100%;
    clear: both;
}
hr {
    border-color: $amarillo;
    width: 50px;
    margin: 20px auto 20px auto;
}
.data {
    display: inline-block;
    padding: 5px 5px 10px 5px;
    vertical-align: top;
    text-align: center;
    margin-bottom: 40px;
    margin: 20px;
}
.sombra {
    box-shadow: 0px 10px 19px -5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 10px 19px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 19px -5px rgba(0, 0, 0, 0.75);
}
.container{
    max-width: 90%;
    margin:auto;
    .sombra img{
        width:100%;
      }
  }
  .auto{
    display:block;
    margin: auto;
  }
  input, textarea{
    display:block;
    max-width:600px;
    border: 2px solid $amarillo;
    font-size: 1.2em;
    height: 30px;
  }
  #tyc{
    width: 20px;
    float: left;
    margin-right: 10px;
  }
  form{
    max-width: 650px;
    margin:auto;
  }
  textarea{
    height:150px;
    margin-bottom:20px;
  }
  .bounce2 {
    animation: bounce2 2s ease infinite;
  }
  #banner{
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
  }
  q{
    display: block;
    margin-bottom: 10px;
  }
  .formulario{
    max-width: 400px;

    a{
        display: block;
    }
  }
  @keyframes bounce2 {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
  }
/*TABLET*/
@media screen and (min-width: 768px) {
    .tcentro{
        display:flex;
    }
    #productos-tienda {
        display: flex;
        /*justify-content: space-evenly;*/
        flex-wrap: wrap;
    }
    .data {
        width: 27%;
    }
    #banner{
        height: 400px;
      }
}

/*DESKTOP*/
@media screen and (min-width: 1024px) {
    #contenedor {
        width: 100%;
    }
    .container{
        max-width: 900px;
    }
    #productos-tienda{
        max-width: 960px;
        margin: 0 auto;
    }
    .grid {
        width: 100%;
        display: grid;
        grid-area: productos;
        grid-template-areas:
            "Izq Der"
        ;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .Izq {
        grid-area: Izq;
    }
    .Der {
        grid-area: Der;
    }
    .separador {
        display: none;
    }
    #productos .grid:first-child .Izq,
    #productos .grid:last-child .Der {
        padding: 50px;
    }
    #productos .grid:first-child .Der {
        display: flex;
    }
    .data {
        width: 20%;
    }
    #banner{
        height: 500px;
      }
}