/*MOBILE*/
nav {
    ul {
        list-style: none;

        a,
        a:visited {
            color: black
        }

        a:hover:not(#logo) {
            border-bottom: 3px solid #fdc300;
        }

        li a:not(#logo) {
            display: none;
        }
    }
}

li {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
}

a {
    text-decoration: none;
    vertical-align: center;
}

#icon-menu {
    position: absolute;
    right: 5%;
    top: 5%;
}
/*DESKTOP*/
@media screen and (min-width: 1024px) {
    nav ul li a:not(#logo) {
        display: inline;
    }
    #icon-menu {
        display: none;
    }
    ul>li>a>img {
        margin-right: 30px;
    }
}